@import '@/app/styles/mixins/mixins.scss';
@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';

.WishList{
	width: 100%;
	@include FlexDirection;
	padding-bottom: 100px;
}

.headerWishList {
	width: 81.25%;
	@include FlexContainer(space-between);
	padding: 100px 0;
}

.roadMap{
	@include FlexContainer;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
}

.wishListProducts {
	width: 81.25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	row-gap: 60px;
    column-gap: 75px;
}

.RelatedItem {
	width: 81.25%;
	padding: 100px 0;
}

.headerTodayOffer {
	@include FlexContainer(space-between);
}

.rectangleWrapper {
	@include FlexContainer;
	gap: 16px;
	color: $mainTextColor;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
}

.rectangle {
	width: 20px;
	height: 40px;
	border-radius: 4px;
	background-color: $accentColor;
}

.wrapperBestProducts {
	width: 100%;
	padding: 60px 0;
}

.productBestCards {
	width: 100%;
	@include FlexContainer(start);
	column-gap: 5%;
}