@import '@/app/styles/variables/backgroundColor.scss';
@import '../../../../app/styles/variables/fontColor.scss';
@import '@/app/styles/mixins/mixins.scss';

.Footer {
	background-color: $secondaryBackgroundColor;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentFooter {
	width: 81.25%;
	color: $secondaryTextColor;
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.columnFooter {
	display: flex;
	flex-direction: column;
	gap: 24px;

	p {
		font-size: 20px;
		line-height: 28px;
		font-weight: 500;
	}
}

.wrapperInputEmail {
	height: 48px;
	padding: 12px 16px;
	border: 1.5px solid $secondaryTextColor;
	border-radius: 4px;
	@include FlexContainer;

	::placeholder {
		color: rgba(250, 250, 250, .4)
	}
}

.qrCode {
	display: flex;
	gap: 8px;
}

.app{
	@include FlexDirection;
	justify-content: space-between;
}

.socialIcons {
	display: flex;
	gap: 24px;
}

.bottomFooter {
	@include FlexContainer;
	color: #FFFFFF;
	gap: 6px;
	margin: 50px 0 20px 0;
	opacity: .6;
}

.downloadAppColumn {
	@include FlexDirection;
	align-items: flex-start;
	font-size: 12px;
	line-height: 18px;
	gap: 8px;
}