@import '@/app/styles/mixins/mixins.scss';
@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';

.Cart {
	width: 100%;
	@include FlexDirection;
	padding-bottom: 100px;
}

.headerAccount {
	width: 81.25%;
	@include FlexContainer(space-between);
	padding: 100px 0;
	font-size: 14px;
	line-height: 21px;
}

.roadMap {
	@include FlexContainer;

	p {
		opacity: 0.5;
	}
}

.tableCart {
	width: 81.25%;
	@include FlexDirection(space-between);
	gap: 40px;
}

.rowTableCart {
	width: 100%;
	@include FlexContainer(space-between);
	border-radius: 4px;
	box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
	padding: 24px 0;
}

.productsList {
	width: 100%;
	@include FlexDirection(space-between);
}

.imgProduct {
	img {
		width: 54px;
		height: 54px;
	}
}

.columnFirst {
	width: 25%;
}

.columnEnd {
	width: 25%;
}

.column {
	width: 25%;
	@include FlexContainer;
	gap: 20px;
}

.quantity {
	width: 72px;
	height: 44px;
	border-radius: 4px;
	border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.inputQuantity {
	width: 100%;
	height: 100%;
	padding: 6px 12px;
	@include FlexContainer(space-between);
}

.arrowsQuantity {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	svg {
		cursor: pointer;
	}
}

.buttonsTableCart {
	width: 100%;
	@include FlexContainer(space-between);
}

.footerCart{
	width: 81.25%;
	@include FlexContainer(space-between);
	align-items:flex-start;
	padding: 100px 0;
}

.CartTotal {
	width: 40%;
	padding: 32px 24px;
	border: 1.5px solid $secondaryBackgroundColor;
	border-radius: 4px;
	@include FlexDirection;
	gap: 24px;
}

.titleCartTotal {
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}