@import '@/app/styles/mixins/mixins.scss';
@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';

.column {
  gap: 20px;
}

.columnEnd {
  width: 50%;
  @include FlexContainer(end);
}

.columnCenter {
  width: 25%;
  @include FlexContainer;
}

.imgProduct {
  width: 50%;
  @include FlexContainer;
  img {
    width: 54px;
    height: 54px;
  }
}
.titleProduct {
  width: 100%;
}
