@import '@/app/styles/mixins/mixins.scss';
@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';

.mainTotalCart {
	width: 100%;
	@include FlexDirection(space-between);
	gap: 24px;
}

.rowTotalCart {
	@include FlexContainer(space-between);
	border-bottom: 1px solid $secondaryBackgroundColor;
	padding-bottom: 16px;
}

.rowTotalCart:last-child {
	border: none !important;
	padding: 0;
}